In [1]:
import pandas as pd
#import BRFSS 2010 data and select columns of interest
df2=pd.read_csv('10.csv')
df2.shape
df2=df2[['PHYSHLTH', 'HLTHPLAN', 'PERSDOC2', 'MEDCOST', 'CHECKUP1', 'QLREST2', 'EXERANY2', 'SMOKDAY2', 'AGE', 'EDUCA', 'INCOME2', 'SEX', 'EMTSUPRT', 'LSATISFY', 'ADANXEV', 'ADDEPEV']]

In [2]:
#descriptive statistics
df2.describe().T

             count       mean        std  min   25%   50%   75%   max
PHYSHLTH  451069.0  60.513775  37.008804  1.0  15.0  88.0  88.0  99.0
HLTHPLAN  451072.0   1.124619   0.470611  1.0   1.0   1.0   1.0   9.0
PERSDOC2  451072.0   1.349510   0.763039  1.0   1.0   1.0   1.0   9.0
MEDCOST   451073.0   1.895964   0.429873  1.0   2.0   2.0   2.0   9.0
CHECKUP1  451073.0   1.599346   1.249452  1.0   1.0   1.0   2.0   9.0
QLREST2   451072.0  41.332650  37.626869  1.0   5.0  25.0  88.0  99.0
EXERANY2  451073.0   1.283132   0.507188  1.0   1.0   1.0   2.0   9.0
SMOKDAY2  207503.0   2.414413   0.881948  1.0   1.0   3.0   3.0   9.0
AGE       451074.0  56.342866  17.049061  7.0  45.0  57.0  69.0  99.0
EDUCA     450792.0   4.824019   1.102443  1.0   4.0   5.0   6.0   9.0
INCOME2   450600.0  17.393684  29.400280  1.0   4.0   7.0   8.0  99.0
SEX       451075.0   1.622870   0.484668  1.0   1.0   2.0   2.0   2.0
EMTSUPRT  436221.0   1.974605   1.444904  1.0   1.0   1.0   2.0   9.0
LSATISFY  435968.0   1.688021   0.973586  1.0   1.0   2.0   2.0   9.0
ADANXEV    79160.0   1.892724   0.513281  1.0   2.0   2.0   2.0   9.0
ADDEPEV    79104.0   1.843459   0.528095  1.0   2.0   2.0   2.0   9.0

In [3]:
#shape of dataframe
df2.shape

(451075, 16)

In [4]:
#column names
df2.columns

Index(['PHYSHLTH', 'HLTHPLAN', 'PERSDOC2', 'MEDCOST', 'CHECKUP1', 'QLREST2',
       'EXERANY2', 'SMOKDAY2', 'AGE', 'EDUCA', 'INCOME2', 'SEX', 'EMTSUPRT',
       'LSATISFY', 'ADANXEV', 'ADDEPEV'],
      dtype='object')

In [5]:
#recode variables as NAN according to missing values in codebook
import numpy as np
df2.PHYSHLTH=df2.PHYSHLTH.replace(88, 0)
df2.PHYSHLTH=df2.PHYSHLTH.replace(77, np.nan)
df2.PHYSHLTH=df2.PHYSHLTH.replace(99, np.nan)
df2.ADDEPEV=df2.ADDEPEV.replace(7, np.nan)
df2.ADDEPEV=df2.ADDEPEV.replace(9, np.nan)
df2.HLTHPLAN=df2.HLTHPLAN.replace(7, np.nan)
df2.HLTHPLAN=df2.HLTHPLAN.replace(9, np.nan)
df2.PERSDOC2=df2.PERSDOC2.replace(7, np.nan)
df2.PERSDOC2=df2.PERSDOC2.replace(9, np.nan)
df2.MEDCOST=df2.MEDCOST.replace(7, np.nan)
df2.MEDCOST=df2.MEDCOST.replace(9, np.nan)
df2.CHECKUP1=df2.CHECKUP1.replace(7, np.nan)
df2.CHECKUP1=df2.CHECKUP1.replace(9, np.nan)
df2.QLREST2=df2.QLREST2.replace(77, np.nan)
df2.QLREST2=df2.QLREST2.replace(99, np.nan)
df2.QLREST2=df2.QLREST2.replace(88, 0)
df2.EXERANY2=df2.EXERANY2.replace(7, np.nan)
df2.EXERANY2=df2.EXERANY2.replace(9, np.nan)
df2.SMOKDAY2=df2.SMOKDAY2.replace(7, np.nan)
df2.SMOKDAY2=df2.SMOKDAY2.replace(9, np.nan)
df2.AGE=df2.AGE.replace(7, np.nan)
df2.AGE=df2.AGE.replace(9, np.nan)
df2.EDUCA=df2.EDUCA.replace(9, np.nan)
df2.INCOME2=df2.INCOME2.replace(77, np.nan)
df2.INCOME2=df2.INCOME2.replace(99, np.nan)
df2.EMTSUPRT=df2.EMTSUPRT.replace(7, np.nan)
df2.EMTSUPRT=df2.EMTSUPRT.replace(9, np.nan)
df2.LSATISFY=df2.LSATISFY.replace(7, np.nan)
df2.LSATISFY=df2.LSATISFY.replace(9, np.nan)
df2.ADANXEV=df2.ADANXEV.replace(7, np.nan)
df2.ADANXEV=df2.ADANXEV.replace(9, np.nan)

In [6]:
#drop missing values for criterion
df2=df2.dropna(subset=['ADDEPEV'])

In [7]:
#list missing values as percentages
nas=pd.DataFrame(df2.isnull().sum().sort_values(ascending=False)/len(df2),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

           percent
SMOKDAY2  0.535888
INCOME2   0.143299
PHYSHLTH  0.023490
QLREST2   0.019137
EMTSUPRT  0.018122
CHECKUP1  0.010723
AGE       0.007411
LSATISFY  0.007018
ADANXEV   0.003147
HLTHPLAN  0.002525
MEDCOST   0.002500
PERSDOC2  0.002411
EDUCA     0.001739
EXERANY2  0.001231

In [8]:
#convert appropriate columns to categories (all but age)
col_names=['PHYSHLTH', 'HLTHPLAN', 'PERSDOC2', 'MEDCOST', 'CHECKUP1', 'QLREST2',
       'EXERANY2', 'SMOKDAY2', 'EDUCA', 'INCOME2', 'SEX', 'EMTSUPRT',
       'LSATISFY', 'ADANXEV', 'ADDEPEV']
for col in col_names:
    df2[col] = df2[col].astype('category',copy=False)
df2.dtypes

PHYSHLTH    category
HLTHPLAN    category
PERSDOC2    category
MEDCOST     category
CHECKUP1    category
QLREST2     category
EXERANY2    category
SMOKDAY2    category
AGE          float64
EDUCA       category
INCOME2     category
SEX         category
EMTSUPRT    category
LSATISFY    category
ADANXEV     category
ADDEPEV     category
dtype: object

In [9]:
#fill missing values with most common response for each category
df2_new = df2.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [10]:
df2_new

,PHYSHLTH,HLTHPLAN,PERSDOC2,MEDCOST,CHECKUP1,QLREST2,EXERANY2,SMOKDAY2,AGE,EDUCA,INCOME2,SEX,EMTSUPRT,LSATISFY,ADANXEV,ADDEPEV
9632,0.0,1.0,3.0,2.0,1.0,4.0,1.0,3.0,52.0,6.0,8.0,2.0,2.0,2.0,2.0,2.0
9633,3.0,1.0,3.0,2.0,3.0,5.0,1.0,3.0,52.0,6.0,7.0,1.0,2.0,2.0,2.0,2.0
9634,0.0,1.0,1.0,2.0,1.0,3.0,1.0,3.0,62.0,4.0,6.0,2.0,1.0,4.0,2.0,2.0
9635,0.0,1.0,1.0,2.0,8.0,0.0,2.0,3.0,76.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0
9636,7.0,1.0,1.0,2.0,2.0,5.0,1.0,3.0,58.0,6.0,6.0,2.0,1.0,1.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449248,0.0,1.0,1.0,1.0,1.0,30.0,1.0,3.0,51.0,2.0,3.0,1.0,1.0,2.0,2.0,2.0
449249,0.0,1.0,1.0,2.0,1.0,0.0,2.0,3.0,82.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0
449250,14.0,1.0,1.0,2.0,1.0,16.0,2.0,3.0,70.0,6.0,4.0,2.0,1.0,2.0,2.0,1.0
449251,5.0,1.0,1.0,2.0,1.0,0.0,1.0,3.0,57.0,4.0,2.0,2.0,1.0,2.0,1.0,1.0
449252,0.0,1.0,1.0,2.0,1.0,0.0,1.0,3.0,61.0,5.0,2.0,1.0,1.0,1.0,2.0,2.0

In [15]:
#list missing values
nas=pd.DataFrame(df2_new.isnull().sum().sort_values(ascending=False)/len(df2_new),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

Empty DataFrame
Columns: [percent]
Index: []

In [13]:
#get dummy variables
df2=pd.get_dummies(df2_new)

In [14]:
#new column names with dummies
df2.columns

Index(['AGE', 'PHYSHLTH_0.0', 'PHYSHLTH_1.0', 'PHYSHLTH_2.0', 'PHYSHLTH_3.0',
       'PHYSHLTH_4.0', 'PHYSHLTH_5.0', 'PHYSHLTH_6.0', 'PHYSHLTH_7.0',
       'PHYSHLTH_8.0',
       ...
       'EMTSUPRT_4.0', 'EMTSUPRT_5.0', 'LSATISFY_1.0', 'LSATISFY_2.0',
       'LSATISFY_3.0', 'LSATISFY_4.0', 'ADANXEV_1.0', 'ADANXEV_2.0',
       'ADDEPEV_1.0', 'ADDEPEV_2.0'],
      dtype='object', length=109)